2014.1/aulas/**/*.aux
2014.1/aulas/**/*.log
2014.1/aulas/**/*.nav
2014.1/aulas/**/*.out
2014.1/aulas/**/*.snm
2014.1/aulas/**/*.synctex.gz
2014.1/aulas/**/*.toc
2014.1/dicionario/**/*.aux
2014.1/dicionario/**/*.log
2014.1/dicionario/**/*.nav
2014.1/dicionario/**/*.out
2014.1/dicionario/**/*.snm
2014.1/dicionario/**/*.synctex.gz
2014.1/dicionario/**/*.toc
*.db
*/privado/
toDolist.txt